.delivery {
  overflow: hidden;

  &__content {
    padding: 200px 0 150px 0;

    @include r(970) {
      padding: 125px 0 75px 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(970) {
      display: block;
    }

    p {
      max-width: 500px;
      line-height: 1.5;

      @include r(970) {
        max-width: 100%;
        margin-top: 30px;
      }
    }
  }

  &__bg {
    margin-top: 100px;
    height: 780px;
    width: 82vw;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }

    @include r(1800) {
      width: 84vw;
      height: 760px;
    }
    @include r(1700) {
      width: 86vw;
      height: 740px;
      margin-top: 90px;
    }
    @include r(1600) {
      width: 89vw;
      height: 720px;
    }
    @include r(1500) {
      width: 92vw;
      height: 700px;
      margin-top: 80px;
    }
    @include r(1400) {
      width: 94vw;
      height: 680px;
      margin-top: 70px;
    }
    @include r(1300) {
      width: 95vw;
      height: 660px;
    }
    @include r(1023) {
      width: calc(100% + 20px);
      height: 600px;
      margin-top: 65px;
    }
    @include r(767) {
      width: calc(100% + 16px);
      height: 500px;
    }
    @include r(600) {
      height: 360px;
    }
  }

  &__numbers {
    display: flex;
    border-top: 4px solid #fff;
    padding-top: 60px;
    margin-top: 150px;

    @include r(1440) {
      padding-top: 45px;
      margin-top: 120px;
    }
    @include r(1023) {
      padding-top: 18px;
      margin-top: 70px;
    }

    &-inners {
      display: flex;
      align-items: flex-start;
      margin: 0 -20px;
      justify-content: space-between;
      width: 100%;
      @include r(1023) {
        flex-wrap: wrap;
      }
      @include r(767) {
        display: block;
        margin: 0;
      }
    }

    &-inner {
      flex: 0 0 auto;
      padding: 20px;
      max-width: 40%;
      @include r(1023) {
        flex: 0 0 50%;
        max-width: 100%;
      }
      @include r(767) {
        padding: 18px 0;
      }
    }

    &-title {
      color: #fff;
      text-transform: uppercase;

    }

    &-value {
      display: flex;
      align-items: flex-end;
      margin-top: 15px;

      strong {
        display: block;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-family: Teko;
        font-style: normal;
        font-weight: 500;
        font-size: 100px;
        line-height: .81;
        text-transform: capitalize;

        @include r(1023) {
          font-size: 86px;
        }
      }

      p {
        display: inline-block;
        position: relative;
        top: -16px;
        padding-left: 26px;
      }
    }
  }

  &__ps {
    margin-top: 10px;
    text-align: center;
    @include r(767) {
      text-align: left;
    }
  }
}