.field-footer {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  height: 70px;
  padding: 0 95px 0 25px;
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #fff;

  &::placeholder {
    color: rgba(#fff, .5);
  }
}

.field-btn-arrow {
  width: 70px;
  height: 70px;
  display: block;
  background: {
    color: #fff;
    image: url("#{$images-path}/icon-right-arrow.svg");
    repeat: no-repeat;
    position: center;
    size: 20px;
  }
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition-property: background-color, border-color;
  transition-duration: .3s;

  &:hover {
    background: {
      color:  transparent;
      image: url("#{$images-path}/icon-right-arrow-white.svg");
    }
    border-color: #fff;
  }
}

.form-group {
  position: relative;

  &--calendar {
    position: relative;
    padding-left: 47px;
    .icon-calendar {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    .form-label {
      left: 47px !important;
    }
  }

  .pass-view {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 16px;
    height: 16px;
    background: {
      image: url("#{$images-path}/icon-eye.svg");
      repeat: no-repeat;
      size: contain;
    }
    z-index: 2;
    cursor: pointer;
    opacity: .5;
    transition-property: opacity;
    transition-duration: .3s;

    &:hover {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, .3);
    transition-property: width;
    transition-duration: .3s;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 0;
    height: 1px;
    transition-property: width;
    transition-duration: .3s;
    z-index: 2;
  }

  .form-label {
    position: absolute;
    left: 0;
    top: 21px;
    z-index: 10;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    cursor: text;
    transition-property: color, font-size, transform;
    transition-duration: .3s;
    @include r(500) {
      font-size: 15px;
    }
  }

  .form-input {
    position: relative;
    width: 100%;
    height: 50px;
    outline: 0;
    background-color: transparent !important;
    border: none;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    padding: 22px 0 10px 0;
  }

  .text-error {
    position: absolute;
    bottom: -17px;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: #F74949;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .3s;
  }

  &.focused {
    .form-label {
      transform: translate(1px, -150%);
      font-size: .65em;
      color: rgba(#fff, .6);
    }

    &::after {
      width: 100%;
    }
  }

  &.error {
    .form-input {
      padding-right: 30px;
      background: {
        image: url("#{$images-path}/icon-error.svg");
        repeat: no-repeat;
        position: center right;
      }
    }

    .form-label {
      transform: translate(1px, -150%);
      font-size: .65em;
      color: #F74949;
    }

    &::after {
      width: 100%;
      background-color: #F74949;
    }

    .text-error {
      opacity: 1;
      visibility: visible;
    }
  }
}