.hero {
  position: relative;

  &__content {
    padding: 230px 0 130px 0;
    max-width: 700px;

    @include r(1600) {
      max-width: 600px;
    }
    @include r(1400) {
      max-width: 500px;
      padding: 200px 0 100px 0;
    }
    @include r(1023) {
      max-width: 50%;
    }
    @include r(970) {
      max-width: 100%;
      padding: 110px 0 75px 0;
    }
    @include r(450) {
      padding: 75px 0;
    }
  }

  &__subtitle {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
    color: rgba(#fff, .6);

    @include r(1600) {
      font-size: 36px;
    }
    @include r(1400) {
      font-size: 32px;
    }
    @include r(1300) {
      font-size: 30px;
    }
    @include r(1023) {
      font-size: 28px;
    }
    @include r(767) {
      font-size: 22px;
    }
  }

  &__rating {
    display: flex;
    align-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    margin-top: 28px;

    @include r(1600) {
      font-size: 18px;
      margin-top: 22px;
    }
    @include r(1023) {
      font-size: 16px;
      margin-top: 16px;
    }

    ul {
      display: flex;
      align-items: center;
      margin-left: 17px;

      @include r(1023) {
        margin-left: 13px;
      }

      li {
        display: inline-block;
        margin-right: 6px;
        font-size: 0;
        @include r(1023) {
          margin-right: 4px;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          max-width: 18px;
          width: 100%;

          @include r(1600) {
            max-width: 16px;
          }
          @include r(1023) {
            max-width: 14px;
          }
        }
      }
    }
  }

  &__description {
    margin-top: 65px;
    line-height: 1.4;

    @include r(1600) {
      margin-top: 50px;
    }
    @include r(1400) {
      margin-top: 42px;
    }
    @include r(1023) {
      margin-top: 36px;
    }
    @include r(450) {
      margin-top: 26px;
      font-size: 16px !important;
    }
  }

  .btn-arrow {
    margin-top: 50px;
    @include r(450) {
      margin-top: 26px;
    }
  }

  &__image {
    position: absolute;
    top: 160px;
    bottom: 0;
    width: 39vw;
    right: 0;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    @include r(1600) {
      width: 41vw;
    }
    @include r(1400) {
      width: 44vw;
    }
    @include r(1100) {
      width: 42vw;
    }
    @include r(1023) {
      width: 49%;
    }
    @include r(970) {
      position: relative;
      top: 60px;
      width: 100%;
      height: 600px;
    }
    @include r(700) {
      height: 300px;
      background-position: center bottom;
    }
    @include r(450) {
      height: 200px;
    }
    @include r(400) {
      height: 180px;
    }
  }
}