.read {
  position: relative;
  &__content {
    padding: 200px 0 300px 0;

    @include r(1440) {
      padding: 200px 0;
    }
    @include r(970) {
      padding: 125px 0 75px 0;
    }
  }

  &__image {
    position: absolute;
    top: 200px;
    right: 0;
    width: 53vw;
    height: 700px;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    @include r(1600) {
      height: 620px;
    }
    @include r(1440) {
      height: 565px;
    }
    @include r(1400) {
      height: 550px;
    }
    @include r(1023) {
      height: 470px;
    }
    @include r(970) {
      position: relative;
      margin-top: 70px;
      top: 0;
      width: calc(100% + 20px);
      height: 500px;
    }
    @include r(767) {
      width: calc(100% + 16px);
    }
    @include r(700) {
      height: 450px;
    }
    @include r(600) {
      height: 360px;
    }
  }

  &__description {
    margin-top: 220px;
    max-width: 320px;

    @include r(1600) {
      margin-top: 180px;
    }
    @include r(1440) {
      margin-top: 140px;
    }
    @include r(970) {
      margin-top: 70px;
    }
  }

  &__date {
    color: #fff;
    padding-left: 13px;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 6px;
      height: 6px;
      content: '';
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__title {
    margin-top: 30px;
  }
  .btn-link-circle {
    margin-top: 65px;

    @include r(1600) {
      margin-top: 55px;
    }
    @include r(1440) {
      margin-top: 45px;
    }
  }
}